bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/FundaApi
bin/Debug/net6.0/FundaApi.deps.json
bin/Debug/net6.0/FundaApi.dll
bin/Debug/net6.0/FundaApi.pdb
bin/Debug/net6.0/FundaApi.runtimeconfig.json
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.InMemory.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
bin/Debug/net6.0/Microsoft.Extensions.Options.dll
bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net6.0/Microsoft.OpenApi.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net6.0/ref/FundaApi.dll
obj/FundaApi.csproj.nuget.dgspec.json
obj/FundaApi.csproj.nuget.g.props
obj/FundaApi.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost
obj/Debug/net6.0/FundaApi.AssemblyInfo.cs
obj/Debug/net6.0/FundaApi.AssemblyInfoInputs.cache
obj/Debug/net6.0/FundaApi.assets.cache
obj/Debug/net6.0/FundaApi.csproj.AssemblyReference.cache
obj/Debug/net6.0/FundaApi.csproj.CopyComplete
obj/Debug/net6.0/FundaApi.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/FundaApi.csproj.FileListAbsolute.txt
obj/Debug/net6.0/FundaApi.dll
obj/Debug/net6.0/FundaApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/FundaApi.genruntimeconfig.cache
obj/Debug/net6.0/FundaApi.GlobalUsings.g.cs
obj/Debug/net6.0/FundaApi.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/FundaApi.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/FundaApi.pdb
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/ref/FundaApi.dll
